﻿@using Microsoft.AspNet.Identity
@model ProjectBootcamp.Models.Video

@{
    <link href="~/Content/Css/video.css" rel="stylesheet"/>
}

<div class="offset-md-1 row">
    <div class="mt-3 col-12 col-md-10 col-lg-7">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" allowfullscreen
                    src="https://www.youtube.com/embed/@Html.DisplayName(Model.Url)">
            </iframe>
        </div>
        <h5 class="mt-2 text-left">
            @Html.DisplayName(Model.Title)
            <div id="rating" class="col-auto float-right">
                <i class="far fa-star star" aria-hidden="true"></i>
                <i class="far fa-star star" aria-hidden="true"></i>
                <i class="far fa-star star" aria-hidden="true"></i>
                <i class="far fa-star star" aria-hidden="true"></i>
                <i class="far fa-star star" aria-hidden="true"></i>
            </div>
        </h5>

        <div id="videoContent" class="mt-5">
            <p>@Html.DisplayName(Model.Description)</p>
            <hr>
        </div>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
                    <i class="far fa-comment"></i>
                    Comments
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">
                    <i class="far fa-file"></i>
                    Bestanden
                </a>
            </li>
        </ul>

    </div>
    <div class="mt-3 col-12 col-md-10 col-lg-4 pre-scrollable" style="max-height: 500px">
        <h6>@Html.DisplayName(Model.Course.Title) video's</h6>
        @foreach (var item in Model.Course.Videos)
        {
            <a class="" href="/Videos/Details/@Html.DisplayName(item.Id.ToString())">

                <div style="clear: left;">
                    <p style="float: left;">
                        <img class="thumbnail pull-left mr-2"
                             src="http://i3.ytimg.com/vi/@Html.DisplayName(item.Url)/hqdefault.jpg"
                             alt="Thumbnail van video" style="height: 95px; margin-right: 15px; width: 185px;">
                    </p>
                    <p>
                        @Html.DisplayName(item.Title) <a class="badge badge-success" style="color: white">Bekeken</a>
                    </p>
                    <p class="sideVideoDescription" style="color: gray">@item.Description</p>
                </div>
            </a>
        }
    </div>


    <div class="tab-content" id="myTabContent" style="padding-top: 15px">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="col-12">
                <div style="padding-top: 10px">
                    <div class="card border-0">
                        <div class="card-body ">
                            <div class="row">
                                <div class="col-2">
                                    <img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid"/>
                                </div>
                                <div class="col-md-10">
                                    @using (Html.BeginForm("Details", "Videos", FormMethod.Post, new {}))
                                    {
                                        @Html.AntiForgeryToken()
                                        <div class="form-group">
                                            <textarea name="Comment" class="form-control" id="exampleFormControlTextarea1" rows="3" required></textarea>
                                        </div>
                                        <p>
                                            <button type="submit" class="float-right btn btn-outline-primary ml-2"> plaats</button>
                                        </p>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @foreach (var item in Model.VideoComments)
                {
                    <hr>

                    if (item.UserId == User.Identity.GetUserId() || item.UserId == User.Identity.GetUserId() || User.IsInRole("Admin") || User.IsInRole("Teacher"))
                    {
                        @Html.AntiForgeryToken()
                        <input name="ID" value="@item.Id" type="hidden"/>
                        <button type="submit" class="float-right btn text-danger btn-danger; border-0" style="background: white" data-toggle="modal" data-target="#comment-@item.Id">
                            <i class="fa fa-trash"></i>
                        </button>
                    }

                    <div style="padding-top: 10px">
                        <div class="card border-0">
                            <div class="card-body ">
                                <div class="row">
                                    <div class="col-2">
                                        <img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid"/>
                                    </div>
                                    <div class="col-10">
                                        <p>
                                            <a class="float-left">
                                                <strong>@Html.DisplayFor(Model => item.User.FirstName) @Html.DisplayFor(Model => item.User.LastName)</strong>
                                                <a class="text-secondary float-right">@Html.DisplayName(item.CreatedAt.ToString("dd/MM/yyyy H:mm"))</a>
                                            </a>
                                        </p>
                                        <div class="clearfix"></div>
                                        <p>
                                            @item.Comment

                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- Modal -->
                    <div class="modal fade" id="comment-@item.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Weet u zeker dat u uw comment wil verwijderen? </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>@item.Comment</p>
                                </div>
                                <div class="modal-footer">
                                    @using (Html.BeginForm("DeleteComment", "Videos", FormMethod.Post))
                                    {
                                        @Html.AntiForgeryToken()
                                        <input name="ID" value="@item.Id" type="hidden"/>
                                        <button class="btn btn-danger">Verwijder</button>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Sluit</button>
                                    }
                                </div>

                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">

            @if (ViewBag.FilePaths == null)
            {
                <p>Er zijn momenteel geen bestanden beschikbaar...</p>
            }
            else
            {
                var name = "";
                foreach (var item in ViewBag.FilePaths)
                {
                    string test = item.ToString();
                    name = test.Substring(test.LastIndexOf(@"\"));


                    <hr>
                    <a href='\Uploads\courses\course_@Model.CourseId\videoid_@Model.Id\@name' point="blank" download>
                        <p>
                            <i class="fas fa-file-word"></i> @name</p>
                    </a>
                }
            }


        </div>
    </div>

</div>