﻿@model ProjectBootcamp.Models.ApplicationUser

@{
    ViewBag.Title = "Delete";
}

<h3 class="ml-2 mt-2">Weet je zeker dat je deze gebruiker wilt verwijderen?</h3>
<div>
    <hr/>
    <dl class="ml-3 dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="ml-3 form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger"/>
            @Html.ActionLink("Terug naar alle gebruikers", "Index", null, new {@class = "btn btn-info"})
        </div>
    }
</div>