﻿@model ProjectBootcamp.Models.ApplicationUser

@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm("Roles", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="ml-2 form-horizontal">
        <hr/>
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            <label class="col-md-2">Rollen</label>
            <div class="col-md-10">
                @Html.DropDownList("Roles", null, new {@class = "form-control"})
            </div>
        </div>

        <div class="ml-2 form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary"/>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Terug naar alle gebruikers", "Index", null, new {@class = "btn btn-info ml-2"})
</div>