﻿@using X.PagedList
@using X.PagedList.Mvc
@using X.PagedList.Mvc.Common
@model IEnumerable<ProjectBootcamp.Models.ApplicationUser>

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="row">
        <table class="mt-4 table table-bordered">
            <tr>
                <th>
                    <label>Voornaam</label>
                </th>
                <th>
                    <label>Achternaam</label>
                </th>
                <th>
                    <label>E-mail</label>
                </th>
                <th>
                    <label>Rol</label>
                </th>
                <th>
                    <label>Actie</label>
                </th>
            </tr>

            @foreach (var item in Model)
            {
                foreach (var role in item.Roles)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @if (role.RoleId == "1")
                            {
                                <p>Administrator</p>
                            }
                            else if (role.RoleId == "2")
                            {
                                <p>Docent</p>
                            }
                            else
                            {
                                <p>Student</p>
                            }
                        </td>
                        <td>
                            @Html.ActionLink("Wijzigen", "Edit", new {id = item.Id}, new {@class = "btn btn-warning ml-2"})
                            @Html.ActionLink("Verwijderen", "Delete", new {id = item.Id}, new {@class = "btn btn-danger ml-2"})
                        </td>
                    </tr>
                }
            }
        </table>
        <div class="ml-auto mt-auto paginationAnimation fade-up-pagination float-right">
            @Html.PagedListPager((IPagedList) Model, page => Url.Action("Index", "Admin"
                , new {page}), new PagedListRenderOptions
                {
                    LiElementClasses = new[] {"page-item"},
                    PageClasses = new[] {"page-link"}
                })
        </div>
    </div>
</div>