﻿@using Microsoft.AspNet.Identity
@model ProjectBootcamp.Models.Forum

@{
    <link href="~/Content/Css/Forumcomments.css" rel="stylesheet"/>
    ViewBag.Title = "Details";
}


<div class="container">


    <div class="pt-3">
        <h2 class="text-warning">@Html.DisplayFor(model => model.Title)</h2>
    </div>


    <div class="card" style="background-color: #fffeb8;">
        <div class="card-body">
            @Html.DisplayFor(model => model.Description)
            <hr/>
            @Html.DisplayFor(model => model.ApplicationUser.FirstName) @Html.DisplayFor(model => model.ApplicationUser.LastName) | @Html.DisplayFor(model => model.CreatedAt)
        </div>
    </div>

    <div class="mt-2">
        <div class="">
            @if (Model.ApplicationUser.Id == User.Identity.GetUserId() || User.IsInRole("Admin") || User.IsInRole("Teacher"))
            {
                <a href="#" id="Edit-Btn" data-toggle="modal" data-target="#editForumModal">
                    <span class="fas fa-edit" style="font-size: 25px;"></span>
                </a>
            }

            <a href="@Url.Action("Index")" id="Back-Btn">
                <span class="fas fa-arrow-left" style="font-size: 25px;"></span>
            </a>
            @if (Model.ApplicationUser.Id == User.Identity.GetUserId() || User.IsInRole("Admin") || User.IsInRole("Teacher"))
            {
                <div class="float-right">
                    <a href="#" id="Delete-Btn" data-toggle="modal" data-target="#deleteForumModal">
                        <span class="fas fa-trash" style="font-size: 25px;"></span>
                    </a>
                </div>
            }

        </div>
    </div>

    <hr style="background-color: #d4d4d4; border: none; color: #333; height: 2px;"/>

    <form method="POST">
        @Html.AntiForgeryToken()
        <div class="form-group">
            <label for="Comment">Plaats hier uw reactie</label>
            <div>
                <textarea class="form-control" name="Comment"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div>
                <input type="submit" value="Reageer" id="reageer-Btn"/>
            </div>
        </div>
    </form>

    <hr class="mb-5" style="background-color: #d4d4d4; border: none; color: #333; height: 2px;"/>

    <div class="">
        @foreach (var item in Model.ForumComments)
        {
            <div class="shadow p-3 mb-3 bg-white rounded" style="background-color: lightgray;">
                <div class="row container">
                    <div>
                        <img class="rounded-circle" alt="50x50" src="http://placekitten.com/75/75" data-holder-rendered="true">
                    </div>
                    <div class="px-3 mt-4">
                        @item.User.FirstName @item.User.LastName: @item.Comment
                    </div>
                    <div class="ml-auto">
                        @if (item.UserId == User.Identity.GetUserId())
                        {
                            <a href="#" id="Edit-Btn" data-toggle="modal" data-target="#editCommentModal-@item.Id">
                                <span class="fas fa-edit" style="font-size: 20px;"></span>
                            </a>
                        }
                        @if (item.UserId == User.Identity.GetUserId() || item.Forum.UserId == User.Identity.GetUserId() || User.IsInRole("Admin") || User.IsInRole("Teacher"))
                        {
                            <form method="post" style="display: none;" id="delete-@item.Id" action="/Forums/DeleteComment/@item.Id">
                                @Html.AntiForgeryToken()
                            </form>
                            <a onclick="event.preventDefault();document.getElementById('delete-@item.Id').submit();" id="Delete-Btn">
                                <span class="fas fa-trash" style="font-size: 20px;"></span>
                            </a>
                        }
                    </div>
                </div>
                <div class="row container mt-2">



                    @if (item.CommentHasUpVotes == null)
                    {
                        <a class="mt-2">sadsadasdsad0</a>
                    }
                    else
                    {
                        var count = 0;
                        var CommentHasUpVotesId = 0;
                        foreach (var upvotes in item.CommentHasUpVotes)
                        {
                            if (upvotes.UserId == User.Identity.GetUserId())
                            {
                                count = 1;
                                CommentHasUpVotesId = upvotes.Id;
                            }
                        }
                        if (count == 0)
                        {
                            <form id="like-@item.Id" method="POST" action="/Forums/LikeComment/@item.Id" style="display: none;">@Html.AntiForgeryToken()</form>
                            <div>
                                <a onclick="event.preventDefault();document.getElementById('like-@item.Id').submit();" class="mr-3 btn text-white btn-danger"> <i class="fa fa-heart" style="font-size: 13px;"></i> Like</a>
                            </div>
                        }
                        else
                        {
                            <form id="like-@CommentHasUpVotesId" method="POST" action="/Forums/DeleteLikeFromComment/@CommentHasUpVotesId" style="display: none;">@Html.AntiForgeryToken()</form>
                            <div>
                                <a onclick="event.preventDefault();document.getElementById('like-@CommentHasUpVotesId').submit();" class="mr-3 btn btn-outline-danger"> <i class="fa fa-heart" style="font-size: 13px;"></i> Like</a>
                            </div>
                        }
                        <a class="mt-2">@item.CommentHasUpVotes.Count</a>
                    }

                    <p class="ml-auto mt-2 mr-3">Gepost op: @item.CreatedAt</p>
                </div>
            </div>
            <!-- Edit forumComment Modal -->
            <div class="modal fade" id="editCommentModal-@item.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-reactie" id="exampleModalCenterTitle">Bewerk uw reactie</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form method="post" action="/Forums/EditComment/@item.Id" id="editComment-@item.Id">
                                @Html.AntiForgeryToken()
                                <div class="form-group">
                                    <label>Reactie</label>
                                    <input class="form-control" type="text" name="Comment" placeholder="Commentaar" value="@item.Comment"/>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Sluiten</button>
                            <button type="submit" class="btn btn-primary" onclick="event.preventDefault();document.getElementById('editComment-@item.Id').submit();">Wijzig</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<!-- Edit Forum Modal -->
<div class="modal fade" id="editForumModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Edit het forum</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" action="/Forums/Edit/@Model.Id" id="editforum">
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <label>Titel</label>
                        <input class="form-control" type="text" name="Title" placeholder="Titel" value="@Model.Title"/>
                    </div>
                    <div class="form-group">
                        <label>Beschrijving</label>
                        <textarea class="form-control" type="text" name="Description" placeholder="Beschrijving..." rows="5">@Model.Description</textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Sluiten</button>
                <button type="submit" class="btn btn-primary" onclick="event.preventDefault();document.getElementById('editforum').submit();">Wijzig forum</button>
            </div>
        </div>
    </div>
</div>

<!-- Delete Forum Modal -->
<div class="modal fade" id="deleteForumModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Verwijder het forum</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" action="/Forums/Delete/@Model.Id" id="deleteforum">
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        Weet je zeker dat je dit forum wil verwijderen?
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">NEE!!</button>
                <button type="submit" class="btn btn-danger" onclick="event.preventDefault();document.getElementById('deleteforum').submit();">JA!</button>
            </div>
        </div>
    </div>
</div>