﻿@using ProjectBootcamp.Helpers
@using X.PagedList
@using X.PagedList.Mvc
@using X.PagedList.Mvc.Common
@model IEnumerable<ProjectBootcamp.Models.Forum>

@{
    <link href="~/Content/Css/Forum.css" rel="stylesheet"/>
    ViewBag.Title = "Index";
}

<a href="#" id="add-forum" data-toggle="modal" data-target="#addmodal">
    <span class="float-right fas fa-plus" style="font-size: 25px;"></span>
</a>

<div class="container mt-3">
    <h1 class="mb-3">Forum berichten</h1>
    <div class="row">
        <div class="col">
            <div class="row" id="forum-header">
                <div class="col-5">
                    @Html.DisplayNameFor(model => model.Title)
                </div>
                <div class="col-4">
                    Gebruiker
                </div>
                <div class="col-3">
                    @Html.DisplayNameFor(model => model.CreatedAt)
                </div>
            </div>
            <div class="row mt-3" id="forum-posts">
                <div class="col">
                    @if (Model.Any())
                    {
                        foreach (var item in Model)
                        {
                            <div class="row mb-2">
                                <div class="col-5 forum-title">
                                    <p class="h5">
                                        <a href="@Url.Action("Details", new {id = item.Id})">@Html.DisplayFor(modelItem => item.Title)</a>
                                    </p>
                                    <p style="word-break: break-all;">@item.Description.SubStringTo(35)</p>
                                </div>
                                <div class="col-4 d-flex align-items-center">
                                    @item.ApplicationUser.FirstName @item.ApplicationUser.LastName
                                </div>
                                <div class="col-3 d-flex align-items-center">
                                    @item.CreatedAt
                                </div>
                            </div>
                        }
                        <div class="ml-auto mt-4 paginationAnimation fade-up-pagination d-flex justify-content-center">
                            @Html.PagedListPager((IPagedList) ViewBag.Forums, page => Url.Action("Index", "Forums"
                                , new {page}), new PagedListRenderOptions
                                {
                                    LiElementClasses = new[] {"page-item"},
                                    PageClasses = new[] {"page-link"}
                                })
                        </div>
                    }
                    else
                    {
                        <div class="row mb-2">
                            <div class="col forum-title">Geen resultaten 😢 Probeer een post te maken via het plusje rechtsonder!</div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add Forum Modal -->
<div class="modal fade" id="addmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Maak een nieuw forum aan</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("Create", "Forums", new {User.Identity.Name}, FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="modal-body">
                    <div class="form-group">
                        <label>Titel</label>
                        <input class="form-control" type="text" name="Title" placeholder="Titel" required/>
                    </div>
                    <div class="form-group">
                        <label>Beschrijving</label>
                        <textarea class="form-control" type="text" name="Description" placeholder="Beschrijving..." rows="5" required></textarea>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Sluiten</button>
                    <button type="submit" class="btn btn-primary">Maak aan</button>
                </div>
            }
        </div>
    </div>
</div>