﻿@using Microsoft.AspNet.Identity
@model ProjectBootcamp.Models.Course

@{
    ViewBag.Title = "Details";
}

@Styles.Render("~/Content/Css/singlecourse.css")
<!-- Page Content -->
<div class="container-fluid" style="margin-bottom: 25px">
<div class="jumbotron" style="background: @Html.DisplayName(Model.Color.Color); color: white; margin-bottom: 0;">
<div class="container">
<h1 class="display-4">@Html.DisplayName(Model.Title)</h1>
<p class="lead">@Html.DisplayName(Model.Description)</p>
<hr class="my-4" style="background: white">
@if (User.IsInRole("Admin") || User.IsInRole("Teacher"))
{
    <button type="button" class="btn" data-toggle="modal" data-target="#AddStudentToCourse-@Model.Id">
        <i class="fas fa-user-plus fa-2x" style="color: white; padding-right: 10px;"></i>
    </button>
    <button type="button" class="btn" data-toggle="modal" data-target="#CourseEdit-@Model.Id">
        <i class="fa fa-edit fa-2x" style="color: white;"></i>
    </button>
    <button type="button" class="btn float-right" data-toggle="modal" data-target="#CourseDelete-@Model.Id">
        <i class="fa fa-trash fa-2x" style="color: white;"></i>
    </button>
    <!-- Modal Add Student -->
    <div class="modal fade" id="AddStudentToCourse-@Model.Id" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" style="color: black;" id="exampleModalLongTitle">Voeg gebruiker toe aan: @Model.Title</h5>
                </div>


                <!-- all User table -->
                @if (User.IsInRole("Admin") || User.IsInRole("Teacher"))
                {
                    <div class="mt-5 col-12">
                        <div class="pre-scrollable">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th scope="col">E-mail</th>
                                    <th scope="col">Rol</th>
                                </tr>
                                </thead>
                                <tbody>
                                @foreach (var item in Model.UserCourses)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.User.Email)
                                        </td>
                                        @foreach (var role in item.User.Roles)
                                        {
                                            if ("1" == role.RoleId)
                                            {
                                                <td>Administrator</td>
                                            }

                                            else if (User.IsInRole("Admin"))
                                            {
                                                if ("2" == role.RoleId)
                                                {
                                                    <td>Leraar</td>
                                                }
                                                else
                                                {
                                                    <td>Student</td>
                                                }
                                                <td style="border: none;">
                                                    <button type="submit" class="btn text-danger btn-danger;" style="background: white" data-toggle="modal" data-target="#DeleteUser-@item.UserId">
                                                        <i class="fa fa-trash"></i>
                                                    </button>
                                                </td>
                                                <!-- Modal -->
                                                <div class="modal fade" id="DeleteUser-@item.UserId" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLongTitle">Verwijder Gebruiker: @item.User.FirstName @item.User.LastName</h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            @using (Html.BeginForm("Delete", "Courses", FormMethod.Post))
                                                            {
                                                                @Html.AntiForgeryToken()
                                                                <div class="modal-body">
                                                                    <input name="ID" value="@item.Id" type="hidden"/>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Sluiten</button>
                                                                    <button type="submit" class="btn btn-danger">Verwijderen</button>
                                                                </div>
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            }

                                            else if ("2" == role.RoleId)
                                            {
                                                <td>Leraar</td>
                                            }
                                            else
                                            {
                                                <td>Student</td>
                                                <td style="border: none;">
                                                    <button type="submit" class="btn text-danger btn-danger;" style="background: white" data-toggle="modal" data-target="#DeleteUser-@item.UserId">
                                                        <i class="fa fa-trash"></i>
                                                    </button>
                                                </td>
                                                <!-- Modal -->
                                                <div class="modal fade" id="DeleteUser-@item.UserId" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLongTitle">Verwijder Gebruiker: @item.User.FirstName @item.User.LastName</h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            @using (Html.BeginForm("Delete", "Courses", FormMethod.Post))
                                                            {
                                                                @Html.AntiForgeryToken()
                                                                <div class="modal-body">
                                                                    <input name="ID" value="@item.Id" type="hidden"/>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Sluiten</button>
                                                                    <button type="submit" class="btn btn-danger">Verwijderen</button>
                                                                </div>
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        }
                                    </tr>
                                }
                                </tbody>
                            </table>
                        </div>
                    </div>
                }


                @using (Html.BeginForm("Create", "Courses", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="modal-body">
                        <input name="ID" value="@Model.Id" type="hidden"/>
                        <div class="form-group">
                            <p style="color: black">Voeg gebruikers toe</p>

                            @if (ViewBag.UserId != null)
                            {
                                @Html.DropDownList("UserId", null, new {@class = "form-control"})
                            }
                            else
                            {
                                <p>Geen gebruikers meer om toe te voegen</p>
                            }
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Sluiten</button>
                        <button type="submit" class="btn btn-danger">Opslaan</button>
                    </div>
                }
            </div>
        </div>
    </div>
    <!-- Modal Edit Course-->
    <div class="modal fade" id="CourseEdit-@Model.Id" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" style="color: black;" id="exampleModalLongTitle">Wijzig cursus: @Model.Title</h5>
                </div>
                @using (Html.BeginForm("Edit", "Courses", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="modal-body">
                        <input name="ID" value="@Model.Id" type="hidden"/>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Title, new {@class = "control-label", style = "color: black;"})
                            @Html.EditorFor(model => model.Title, new {htmlAttributes = new {@class = "form-control"}})
                            @Html.ValidationMessageFor(model => model.Title, "", new {@class = "text-danger"})
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Description, new {@class = "control-label", style = "color: black;"})
                            @Html.EditorFor(model => model.Description, new {htmlAttributes = new {@class = "form-control"}})
                            @Html.ValidationMessageFor(model => model.Description, "", new {@class = "text-danger"})
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.ColorId, new {@class = "control-label", style = "color: black;"})
                            <select class="form-control" name="ColorId" required>
                                <option value="1">darkoranje</option>
                                <option value="2">darkred</option>
                                <option value="3">darkblue</option>
                                <option value="4">darkgreen</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Sluiten</button>
                        <button type="submit" class="btn btn-danger">Opslaan</button>
                    </div>
                }
            </div>
        </div>
    </div>
    <!-- Modal Video create -->
    <div class="modal fade" id="CreateVideo" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" style="color: black;" id="exampleModalLongTitle">Video aanmaken</h5>
                </div>
                @using (Html.BeginForm("Create", "Videos", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="modal-body">
                        <input name="CourseId" value="@Model.Id" type="hidden"/>
                        <div class="form-group">
                            <label for="Title" style="color: black;">Titel</label>
                            <input name="title" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="description" style="color: black;">Descriptie</label>
                            <input name="description" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="hidden" name="views" value="0" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="hidden" name="activated" value="1" class="form-control">
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon3">https://www.youtube.com/embed/</span>
                                </div>
                                <input type="text" name="url" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Sluiten</button>
                        <button type="submit" class="btn btn-danger">Opslaan</button>
                    </div>
                }
            </div>
        </div>
    </div>
    <!-- Modal Delete Course-->
    <div class="modal fade" id="CourseDelete-@Model.Id" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" style="color: black;" id="exampleModalLongTitle">Verwijder video: @Model.Title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                @using (Html.BeginForm("DeleteCourse", "Courses", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="modal-body">
                        <input name="ID" value="@Model.Id" type="hidden"/>
                        <label style="color: black;" for="file">Beschrijving: @Model.Description</label>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Sluiten</button>
                        <button type="submit" class="btn btn-danger">Verwijderen</button>
                    </div>
                }
            </div>
        </div>
    </div>
}
</div>
</div>

<nav class="navbar navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#"></a>
        <a class="navbar-brand float-right" href="#">@Html.DisplayName(Model.CreatedAt.ToString("dd/MM/yyyy"))</a>
    </div>
</nav>
</div>


<!-- START THE FEATURETTES -->
<div class="container">

@if (Model.Videos.Any())
{
    if (User.IsInRole("Admin") || User.IsInRole("Teacher"))
    {
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn float-right mr-2 mb-3" data-toggle="modal" data-target="#CreateVideo">
                    <i style="font-size: 40px;" class="far fa-plus-square"></i>
                </button>
            </div>
        </div>
    }
    <div style="max-height: 500px; overflow-y: scroll;">

        <table class="table table-striped pre-scrollable">
            <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Titel</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.Videos)
            {
                <tr>
                    <td style="width: 10%">
                        <img class="thumbnail pull-left mr-2"
                             src="http://i3.ytimg.com/vi/@Html.DisplayName(item.Url)/hqdefault.jpg"
                             alt="Thumbnail van video" style="height: 60px; margin-right: 15px; width: 100px;">
                    </td>
                    <td style="width: 40%">
                        <a class="" href="@Model.Id/Videos/Details/@Html.DisplayName(item.Id.ToString())">
                            @item.Title
                        </a>
                        <p>@item.Description</p>
                    </td>
                    <td style="width: 20%">
                        @if (User.IsInRole("Admin") || User.IsInRole("Teacher"))
                        {
                            <button type="button" class="btn float-right" data-toggle="modal" data-target="#VideoDelete-@item.Id">
                                <i class="fa fa-trash fa-2x" style="color: red;"></i>
                            </button>
                            <button type="button" class="btn float-right" data-toggle="modal" data-target="#VideoEdit-@item.Id">
                                <i class="fa fa-edit fa-2x" style="color: black;"></i>
                            </button>
                        }

                        @*Button trigger modal ---- Upload file   *@
                        @{
                            var done = false;
                        }
                        @foreach (var use in ViewBag.Student)
                        {
                            if (use.UserId == User.Identity.GetUserId() && use.VideoId == item.Id)
                            {
                                done = true;
                            }
                        }
                        @{
                            var file = item.StudentFiles.Where(x => x.UserId == User.Identity.GetUserId() && x.VideoId == item.Id).Select(x => x.FileName).SingleOrDefault();
                        }

                        @if (done)
                        {
                            <a href="../../Uploads\students\@User.Identity.Name\courses\courseid_@item.Course.Id\videos\videoid_@item.Id\@file" point="blank" download>
                                <p style="color: black;">Download je ingeleverde bestand: @file</p>
                            </a>
                        }
                        else
                        {
                            <button type="button" class="btn float-right" data-toggle="modal" data-target="#Video-@item.Id">
                                <i class="fas fa-file-import fa-2x" style="color: green"></i>
                            </button>
                        }


                    </td>
                </tr>

                <!-- Modal -->
                <div class="modal fade" id="Video-@item.Id" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            @if (User.IsInRole("Teacher"))
                            {
                                using (Html.BeginForm("UploadFile", "Courses", new {ViewBag.Id, VideoId = item.Id}, FormMethod.Post, new {enctype = "multipart/form-data"}))
                                {
                                    <div class="modal-body">
                                        @Html.AntiForgeryToken()
                                        <label for="file">Filename:</label>
                                        <input type="file" name="file" id="file"/>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Save changes</button>
                                    </div>
                                }
                            }
                            else
                            {
                                using (Html.BeginForm("UploadFileStudent", "Courses", new {student = User.Identity.Name, courseid = item.Course.Id, VideoId = item.Id, userid = User.Identity.GetUserId()}, FormMethod.Post, new {enctype = "multipart/form-data"}))
                                {
                                    <div class="modal-body">
                                        @Html.AntiForgeryToken()
                                        <label for="file">Filename:</label>
                                        <input type="file" name="file" id="file"/>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Save changes</button>
                                    </div>
                                }
                            }


                            }
                        </div>
                    </div>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="VideoDelete-@item.Id" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Verwijder video: @item.Title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            @using (Html.BeginForm("Delete", "Videos", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                <div class="modal-body">
                                    <input name="ID" value="@item.Id" type="hidden"/>
                                    <label for="file">Descriptie: @item.Description</label>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Sluiten</button>
                                    <button type="submit" class="btn btn-danger">Verwijderen</button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <!-- Modal Video edit -->
                <div class="modal fade" id="VideoEdit-@item.Id" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" style="color: black;" id="exampleModalLongTitle">Video Wijzigen</h5>
                            </div>
                            @using (Html.BeginForm("Edit", "Videos", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                <div class="modal-body">
                                    <input name="Id" value="@item.Id" type="hidden"/>
                                    <input name="CourseId" value="@item.CourseId" type="hidden"/>
                                    <div class="form-group">
                                        <label for="Title" style="color: black;">Titel</label>
                                        <input name="title" value="@item.Title" type="text" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="description" style="color: black;">Descriptie</label>
                                        <input name="description" value="@item.Description" type="text" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <input type="hidden" name="views" value="0" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <input type="hidden" name="activated" value="1" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="basic-addon3">https://www.youtube.com/embed/</span>
                                            </div>
                                            <input name="url" value="@item.Url" type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Sluiten</button>
                                    <button type="submit" class="btn btn-danger">Opslaan</button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }

            </tbody>
        </table>
    </div>
}
else
{
    if (User.IsInRole("Admin") || User.IsInRole("Teacher"))
    {
        <div class="col-auto">
            <button type="button" class="btn float-right" data-toggle="modal" data-target="#CreateVideo">
                <i style="font-size: 40px;" class="far fa-plus-square"></i>
            </button>
            <h4 class="text-center">Er zijn op dit moment geen filmpjes/ opdrachten beschikbaar.</h4>
        </div>
    }
}

@if (User.IsInRole("Admin") || User.IsInRole("Teacher"))
{
    <div>
        <div class="mt-5 col-12">
            <div class="pre-scrollable">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">E-mail</th>
                        <th scope="col">Videos ingeleverd</th>
                    </tr>
                    </thead>
                    <tbody>

                    @foreach (var item in Model.UserCourses)
                    {
                        <tr>
                            <td>@item.User.Email</td>
                            <td>
                                @foreach (var video in Model.Videos)
                                {
                                    var file = video.StudentFiles.Where(x => x.UserId == User.Identity.GetUserId() && x.VideoId == video.Id).Select(x => x.FileName).SingleOrDefault();
                                    var cross = false;

                                    <a class="ml-1">
                                        <u>@video.Title:</u>
                                    </a>

                                    foreach (var check in video.StudentFiles)
                                    {
                                        if (item.UserId == check.UserId)
                                        {
                                            <a href="../../Uploads\students\@User.Identity.Name\courses\courseid_@item.Course.Id\videos\videoid_@video.Id\@file" point="blank" download>
                                                <i class="fa fa-check-circle" aria-hidden="true"></i>
                                            </a>
                                            cross = true;
                                        }
                                    }
                                    if (cross == false)
                                    {
                                        <i class="fa fa-times-circle" aria-hidden="true"></i>
                                    }
                                }
                            </td>
                        </tr>
                    }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
</div>