﻿@using Microsoft.AspNet.Identity
@using ProjectBootcamp.Helpers
@using X.PagedList
@using X.PagedList.Mvc
@using X.PagedList.Mvc.Common
@model IEnumerable<ProjectBootcamp.Models.UserCourse>

@{
    <link href="~/Content/Css/course.css" rel="stylesheet"/>
    ViewBag.Title = "Index";

}
<div class="jumbotron jumbotron-fluid text-center">
    <h2>Alle Cursussen</h2>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            @if (User.IsInRole("Admin") || User.IsInRole("Teacher"))
            {
                <!-- Modal -->
                <div class="modal fade" id="CreateCourse" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Cursus aanmaken</h5>
                            </div>
                            @using (Html.BeginForm("CreateCourse", "Courses", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label for="Titel">Titel</label>
                                        <input type="text" class="form-control" id="exampleInputEmail1" name="title" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="Titel">Descriptie</label>
                                        <input type="text" class="form-control" id="exampleInputEmail1" name="description" required>
                                    </div>

                                    <div class="form-group">
                                        <label for="ColorId">Cursus kleur</label>
                                        <select class="form-control" name="ColorId" required>
                                            <option value="1">darkoranje</option>
                                            <option value="2">darkred</option>
                                            <option value="3">darkblue</option>
                                            <option value="4">darkgreen</option>
                                        </select>
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Sluiten</button>
                                    <button type="submit" class="btn btn-primary">Opslaan</button>
                                </div>
                            }
                        </div>
                    </div>
                </div>

                <button type="button" class="btn" id="create-course" data-toggle="modal" data-target="#CreateCourse"/>
                <span class="float-right fas fa-plus" style="font-size: 25px;"></span>
            }
        </div>
        @if (Model.Any())
        {
            foreach (var item in Model)
            {
                <div class="col-sm-5 col-md-6 col-lg-3 mb-3">
                    <a class="NoDecoration" href="@Url.Action("Details", "Courses", new {item.Course.Id})">
                        <div class="card animate fade-up">
                            <div class="card">
                                <div class="container-fluid" style="color: black">
                                    <div class="row py-5" style="background: @item.Course.Color.Color; color: white;">
                                        <div class="col-12 text-center">
                                            <h3>@item.Course.Title.SubStringTo(20)</h3>
                                        </div>
                                    </div>
                                    <div class="row mb-2">
                                        <div class="col-12 py-3">
                                            <p>@item.Course.Description</p>
                                        </div>
                                    </div>
                                    <div class="row mb-2 justify-content-center">
                                        <div class="col-sm text-center">
                                            <h4>
                                                <i class="fa fa-briefcase" style="color: @item.Course.Color.Color"></i>
                                                @{ var howMany = 0; }
                                                @foreach (var utem in item.User.StudentFiles)
                                                {
                                                    if (utem.UserId == User.Identity.GetUserId() && utem.Video.Course.Id == item.Course.Id)
                                                    {
                                                        howMany++;
                                                    }
                                                }
                                                @howMany / @item.Course.Videos.Count
                                            </h4>
                                        </div>
                                        <div class="col-sm text-center">
                                            <h4>
                                                <i class="fa fa-play" style="color: @item.Course.Color.Color"></i>
                                                @item.Course.Videos.Count
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            }
            <div style="padding-top: 30px;" class="ml-auto mt-auto paginationAnimation fade-up-pagination">
                @Html.PagedListPager((IPagedList) Model, page => Url.Action("Index", "Courses"
                    , new {page}), new PagedListRenderOptions
                    {
                        LiElementClasses = new[] {"page-item"},
                        PageClasses = new[] {"page-link"}
                    })
            </div>
        }
        else
        {
            <div class="offset-md-3 col-12 col-md-6 col-6 text-center">
                <h6>Je zit nog niet in een cursus!</h6>
            </div>
        }

    </div>
</div>