﻿.card { min-height: 350px; }

.NoDecoration:hover { text-decoration: none; }

#create-course {
    animation: pulse 2s infinite;
    background: #e89600;
    border-radius: 50%;
    bottom: 50px;
    padding: 18px;
    position: fixed;
    right: 50px;
    transition: background 0.5s;
    z-index: 999;
}

#create-course:hover { background: #e89600; }

#create-course span { transition: transform 0.5s; }

#create-course:hover span { transform: rotate(90deg); }

#create-course span {
    color: #fff;
    text-decoration: none;
}

.card::before, .card::after {
    background: rgba(255, 255, 255, 0.1);
    bottom: 0;
    content: '';
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    transform: scale3d(0, 0, 1);
    transition: transform .3s ease-out 0s;
}

.card::before { transform-origin: left top; }

.card::after { transform-origin: right bottom; }

.card:hover {
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
}

.card:hover::before, .card:hover::after, .card:focus::before, .card:focus::after { transform: scale3d(1, 1, 1); }

.fade-up {
    -webkit-animation-name: fadeUp;
    animation-name: fadeUp;
}

.animate {
    -webkit-animation-duration: 1.3s;
    -webkit-animation-fill-mode: both;
    animation-duration: 1.3s;
    animation-fill-mode: both;
}

.fade-up-pagination {
    -webkit-animation-name: fadeUpPagination;
    animation-name: fadeUpPagination;
}

.paginationAnimation {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}

@-webkit-keyframes fadeUp {
    from {
        -webkit-transform: translate3d(0, 100%, 0);
        opacity: 0;
        transform: translate3d(0, 8%, 0);
    }

    to {
        -webkit-transform: none;
        opacity: 1;
        transform: none;
    }
}

@-webkit-keyframes fadeUpPagination {
    from {
        -webkit-transform: translate3d(0, 100%, 0);
        opacity: 0;
        transform: translate3d(0, 35%, 0);
    }

    to {
        -webkit-transform: none;
        opacity: 1;
        transform: none;
    }
}


@keyframes pulse {
    0% {
        ;
        box-shadow: 0 0 0 0 rgba(255, 165, 0, 0.4);
    }

    70% { box-shadow: 0 0 0 15px rgba(255, 165, 0, 0); }

    100% { box-shadow: 0 0 0 0 rgba(255, 165, 0, 0); }
}


.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    background-color: #f3969a;
    color: #ffffff;
    text-decoration: none;
}