﻿body { }

#add-forum {
    animation: pulse 2s infinite;
    background: #FFA500;
    border-radius: 50%;
    bottom: 50px;
    padding: 18px 19.57px;
    position: fixed;
    right: 50px;
    transition: background 0.5s;
    z-index: 999;
}

#add-forum:hover { background: #ff8100; }

#add-forum span { transition: transform 0.5s; }

#add-forum:hover span { transform: rotate(90deg); }

#add-forum span {
    color: #fff;
    text-decoration: none;
}

#forum-header {
    background: orange !important;
    border-radius: 50px;
    color: #fff;
    padding: 10px;
}

#forum-posts .row {
    border-radius: 50px;
    padding: 10px 10px;
    transition: transform 0.3s;
}

#forum-posts .row:hover { transform: scale(1.02); }

#forum-posts .row:nth-child(odd) { background: #f3f3f3 }

#forum-posts .row:nth-child(even) { background: #e6e6e6; }

.forum-title p:nth-child(2) { margin-bottom: 0; }

@keyframes pulse {
    0% {
        ;
        box-shadow: 0 0 0 0 rgba(255, 165, 0, 0.4);
    }

    70% { box-shadow: 0 0 0 15px rgba(255, 165, 0, 0); }

    100% { box-shadow: 0 0 0 0 rgba(255, 165, 0, 0); }
}