﻿body { }

#Delete-Btn {
    background-color: #dd3737;
    border: 1px solid #ffffff;
    border-radius: 6px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #cc9f52;
}

#Delete-Btn:hover { background-color: #ff0000; }

#Delete-Btn:active {
    position: relative;
    top: 1px;
}

#reageer-Btn {
    background-color: #f6bc46;
    border: 1px solid #ffffff;
    border-radius: 6px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #cc9f52;
}

#reageer-Btn:hover { background-color: #ffc107; }

#reageer-Btn:active {
    position: relative;
    top: 1px;
}

#Edit-Btn {
    background-color: #f6bc46;
    border: 1px solid #ffffff;
    border-radius: 6px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #cc9f52;
}

#Edit-Btn:hover { background-color: #ffc107; }

#Edit-Btn:active {
    position: relative;
    top: 1px;
}



#Back-Btn {
    background-color: #f6bc46;
    border: 1px solid #ffffff;
    border-radius: 6px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #cc9f52;
}

#Back-Btn:hover { background-color: #ffc107; }

#Back-Btn:active {
    position: relative;
    top: 1px;
}

#Fa-Trash { color: crimson }

#Fa-Edit { color: #f6bc46; }