﻿body {
    font-family: 'Poppins', sans-serif;
    padding: 0px !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

header.masthead {
    background: url("/Content/Images/bootcampedit.jpg") no-repeat;
    background-color: #343a40;
    background-size: cover;
    padding-bottom: 8rem;
    padding-top: 8rem;
    position: relative;
}

header.masthead .overlay {
    background-color: #212529;
    height: 100%;
    left: 0;
    opacity: .3;
    position: absolute;
    top: 0;
    width: 100%;
}

header.masthead h1 { font-size: 2rem }

@media (min-width: 768px) {
    header.masthead {
        padding-bottom: 12rem;
        padding-top: 12rem;
    }

    header.masthead h1 { font-size: 3rem }
}

.showcase .showcase-text { padding: 3rem }

.showcase .showcase-img {
    background-size: cover;
    min-height: 30rem;
}

@media (min-width: 768px) {
    .showcase .showcase-text { padding: 7rem }
}

.features-icons {
    padding-bottom: 7rem;
    padding-top: 7rem;
}

.features-icons .features-icons-item { max-width: 20rem }

.features-icons .features-icons-item .features-icons-icon { height: 7rem }

.features-icons .features-icons-item .features-icons-icon i { font-size: 4.5rem }

.features-icons .features-icons-item:hover .features-icons-icon i { font-size: 5rem }

.testimonials {
    padding-bottom: 7rem;
    padding-top: 7rem;
}

.testimonials .testimonial-item { max-width: 18rem }

.testimonials .testimonial-item img {
    box-shadow: 0 5px 5px 0 #adb5bd;
    max-width: 12rem;
}

.call-to-action {
    background: url("/Content/Images/bootcampedit.jpg") no-repeat;
    background-color: #343a40;
    background-size: cover;
    padding-bottom: 7rem;
    padding-top: 7rem;
    position: relative;
}

.call-to-action .overlay {
    background-color: #212529;
    height: 100%;
    left: 0;
    opacity: .3;
    position: absolute;
    top: 0;
    width: 100%;
}

footer.footer {
    padding-bottom: 4rem;
    padding-top: 4rem;
}