﻿body {
    font-family: "Lato", sans-serif;
    padding: 10px;
}



.main-head {
    background: #FFF;
    height: 150px;
}

.sidenav { visibility: hidden; }

@media screen and (min-width: 640px) {
    body { padding: 0 }
}



.login-main-text {
    color: #fff;
    padding: 60px;
}

.login-main-text h2 { font-weight: 300; }

.footer { visibility: hidden }

.navbar { visibility: hidden }

.site-footer { visibility: hidden; }