﻿.site-footer {
    background-color: #f8f9fa;
    color: #737373;
    font-size: 15px;
    line-height: 24px;
    padding: 45px 0 20px;
}

.site-footer hr {
    border-top-color: #bbb;
    opacity: 0.5
}

.site-footer hr.small { margin: 20px 0 }

.site-footer h6 {
    color: #737373;
    font-size: 16px;
    letter-spacing: 2px;
    margin-top: 5px;
    text-transform: uppercase;
}

.site-footer a { color: #737373; }

.site-footer a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links {
    list-style: none;
    padding-left: 0;
}

.footer-links li { display: block }

.footer-links a { color: #737373 }

.footer-links a:active, .footer-links a:focus, .footer-links a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links.inline li { display: inline-block }

.site-footer .social-icons { text-align: right }

.site-footer .social-icons a {
    background-color: #dcdcdc;
    border-radius: 100%;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    width: 40px;
}

.copyright-text { margin: 0 }

@media (max-width: 991px) {
    .site-footer [class^=col-] { margin-bottom: 30px }
}

@media (max-width: 767px) {
    .site-footer { padding-bottom: 0 }

    .site-footer .copyright-text, .site-footer .social-icons { text-align: center }
}

.social-icons {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
}

.social-icons li {
    display: inline-block;
    margin-bottom: 4px
}

.social-icons li.title {
    color: #96a2b2;
    font-size: 13px;
    font-weight: 700;
    margin-right: 15px;
    text-transform: uppercase;
}

.social-icons a {
    -o-transition: all .2s linear;
    -webkit-transition: all .2s linear;
    background-color: #eceeef;
    border-radius: 100%;
    color: #818a91;
    display: inline-block;
    font-size: 16px;
    height: 44px;
    line-height: 44px;
    margin-right: 8px;
    text-align: center;
    transition: all .2s linear;
    width: 44px;
}

.social-icons a:active, .social-icons a:focus, .social-icons a:hover {
    background-color: #29aafe;
    color: #fff;
}

.social-icons.size-sm a {
    font-size: 14px;
    height: 34px;
    line-height: 34px;
    width: 34px;
}

.social-icons a.facebook:hover { background-color: #3b5998 }

.social-icons a.twitter:hover { background-color: #00aced }

.social-icons a.linkedin:hover { background-color: #007bb6 }

.social-icons a.dribbble:hover { background-color: #ea4c89 }

@media (max-width: 767px) {
    .social-icons li.title {
        display: block;
        font-weight: 600;
        margin-right: 0;
    }
}