﻿.star {
    background: none;
    border: none;
    color: darkgoldenrod;
    float: right;
}

@media screen and (min-width: 601px) {
    .star { font-size: 30px; }
}


@media screen and (max-width: 700px) {
    .star { font-size: 20px; }
}

@media screen and (max-width: 1100px) {
    .star { font-size: 22px; }
}




p.ridge {
    -webkit-background-clip: text;
    background: #666666;
    border-style: ridge;
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    color: transparent;
    min-height: 100px;
    text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.5);
}




/*Comment styling*/


/*-- Bootstrap Override Style --*/


/*-- Content Style --*/

/*-- end Content Style --*/

/*Cursus side video's'*/

.sideVideoDescription {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* number of lines to show */
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
}

.badge { float: right; }
/*end Cursus side video's'*/