﻿@model ProjectBootcamp.Models.LoginViewModel

@{
    <link href="~/Content/Css/login.css" rel="stylesheet"/>
}

<div class="container">
    <div class="row">

        <div class="sidenav">
            <div class="login-main-text">
            </div>
        </div>
        <div class="main">
            <div>
                <div class="login-form">
                    <section id="loginForm">
                        @using (Html.BeginForm("Login", "Account", new {ViewBag.ReturnUrl}, FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
                        {
                            @Html.AntiForgeryToken()
                            <img src="../../Content/Images/windesheim_logo.png" class="img-fluid" alt="Responsive image">
                            <hr/>
                            @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                            <div class="form-group">
                                @Html.LabelFor(m => m.Email, new {@class = "col-md-2 control-label"})
                                <div class="col-md-12">
                                    @Html.TextBoxFor(m => m.Email, new {@class = "form-control"})
                                    @Html.ValidationMessageFor(m => m.Email, "", new {@class = "text-danger"})
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Password, new {@class = "col-md-2 control-label"})
                                <div class="col-md-12">
                                    @Html.PasswordFor(m => m.Password, new {@class = "form-control"})
                                    @Html.ValidationMessageFor(m => m.Password, "", new {@class = "text-danger"})
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-12">
                                    <div class="checkbox">
                                        @Html.CheckBoxFor(m => m.RememberMe)
                                        @Html.LabelFor(m => m.RememberMe)
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="aanmelden" class="btn btn-primary"/>
                                </div>
                            </div>
                            <p>
                                @Html.ActionLink("Registreer u als een nieuwe gebruiker", "Register")
                            </p>
                        @* Enable this once you have account confirmation enabled for password reset functionality
                            <p>
                                @Html.ActionLink("Forgot your password?", "ForgotPassword")
                            </p>*@
                        }
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}