﻿@model ProjectBootcamp.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    <link href="~/Content/Css/login.css" rel="stylesheet"/>

}

<div class="container">
    <div class="row">

        <div class="sidenav">
            <div class="login-main-text">
            </div>
        </div>
        <div class="main">
            <div>
                <div class="login-form">
                    <section id="loginForm">
                        <img src="../../Content/Images/windesheim_logo.png" class="img-fluid" alt="Responsive image">
                        <hr/>
                        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
                        {
                            @Html.AntiForgeryToken()
                            <h4>
                                Maak een nieuw account aan.
                            </h4>
                            <hr/>
                            @Html.ValidationSummary("", new {@class = "text-danger"})
                            <div class="form-group">
                                @Html.LabelFor(m => m.Email, new {@class = "col-md-2 control-label"})
                                <div class="col-md-10">
                                    @Html.TextBoxFor(m => m.Email, new {@class = "form-control"})
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.FirstName, new {@class = "col-md-2 control-label"})
                                <div class="col-md-10">
                                    @Html.TextBoxFor(m => m.FirstName, new {@class = "form-control"})
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.LastName, new {@class = "col-md-2 control-label"})
                                <div class="col-md-10">
                                    @Html.TextBoxFor(m => m.LastName, new {@class = "form-control"})
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Password, new {@class = "col-md-2 control-label"})
                                <div class="col-md-10">
                                    @Html.PasswordFor(m => m.Password, new {@class = "form-control"})
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.ConfirmPassword, new {@class = "col-md-2 control-label"})
                                <div class="col-md-10">
                                    @Html.PasswordFor(m => m.ConfirmPassword, new {@class = "form-control"})
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" class="btn btn-default btn-primary" value="Registreren"/>
                                </div>
                            </div>
                        }
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}