﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <li class="nav-item">
        @Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage", null, new {title = "Manage", @class = "nav-link"})
    </li>

    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new {id = "logoutForm", @class = "nav-link"}))
    {
        @Html.AntiForgeryToken()
        <li class="nav-item">
            <a style="color: inherit" href="javascript:document.getElementById('logoutForm').submit()">Uitloggen</a>
        </li>
    }
}
else
{
    <li>
        @Html.ActionLink("Register", "Register", "Account", null, new {id = "registerLink", @class = "nav-link"})
    </li>
    <li>
        @Html.ActionLink("Log in", "Login", "Account", null, new {id = "loginLink", @class = "nav-link"})
    </li>
}