﻿@{
    ViewBag.Title = "Contact";
    <script src="../../Content/Js/main.js"></script>

}

<link href="~/Content/css/Contact.css" rel="Stylesheet" type="text/css"/>


<section id="contact" class="pt-5">
    <div class="container">
        <h3 class="text-center text-uppercase">Over AD Software Development</h3>
        <br/>
        <h3 class="text-center">Jaar 1</h3>
        <p class="text-center w-75 m-auto">
            In het eerste halfjaar ga je vijf dagen naar school. We beginnen vanaf 0 met programmeren, maar het is wel handig als je de basisbeginselen al kent, want we gaan snel door de stof heen. We verwachten dat je je vanaf de eerste dag als echte ICT-professional gedraagt. Daardoor ben je snel inzetbaar in de praktijk.
        </p>
        <br/>
        <h3 class="text-center">Jaar 2</h3>
        <p class="text-center w-75 m-auto">
            In het tweede jaar ligt de nadruk nog meer op de praktijk. Drie dagen per week werk je samen met een medestudent aan een Comakership, een praktijkopdracht die je zelf werft en uitvoert. Je bepaalt samen met het bedrijf welk project je doet en met welke programmeertaal je werkt. Wellicht leer je hier al een derde of vierde taal.
        </p>
        <div class="row" data-aos="fade-right">
            <div class="col-sm-12 col-md-6 col-lg-4 my-5">
                <div class="card border-0">
                    <div class="card-body text-center">
                        <i class="fa fa-phone fa-5x mb-3" aria-hidden="true"></i>
                        <h4 class="text-uppercase mb-5">Bel ons </h4>
                        <a href="tel:0884696600" style="color: black">088-4696600</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 my-5">
                <div class="card border-0">
                    <div class="card-body text-center">
                        <i class="fa fa-map-marker fa-5x mb-3" aria-hidden="true"></i>
                        <h4 class="text-uppercase mb-5">Locatie</h4>
                        <address>Hospitaaldreef 5, 1315 RC Almere</address>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 my-5">
                <div class="card border-0">
                    <div class="card-body text-center">
                        <i class="fa fa-globe fa-5x mb-3" aria-hidden="true"></i>
                        <h4 class="text-uppercase mb-5">email</h4>
                        <a href="https://www.windesheimflevoland.nl" style="color: black">www.windesheimflevoland.nl</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>