﻿@{
    ViewBag.Title = "Home Page";
    <script src="../../Content/Js/main.js"></script>
}
@Styles.Render("~/Content/css/HomeAndNavbar.css")


<!-- Masthead -->
<header class="masthead text-white text-center">
    <div class="overlay" style="padding-left: 0px !important; padding-right: 0px !important;"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto text-lg-left">
                <h2 class="mb-5">De beste Code-Bootcamp van het Land</h2>
                <h4>Deze bootcamp gaat de studenten van ADSD een Basiskennis geven over verschillende talen!</h4>
            </div>
        </div>
    </div>
</header>
<!-- Icons Grid -->
<div class="container" style="padding-bottom: 15px; padding-top: 30px;">
    <div class="text-center" style="padding-bottom: 25px;" data-aos="fade-right" data-aos-duration="1000">
        <h2>Wij bieden bootcamps aan van de volgende talen!</h2>
    </div>
    <div class="row">
        <div class="col-lg-4 col-sm-6 mb-4" data-aos="fade-right" data-aos-duration="1000">
            <div class="card h-100">
                <img class="card-img-top" src="https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-4/php.png" alt="">
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 mb-4" data-aos="fade-right" data-aos-duration="1000">
            <div class="card h-100">
                <img class="card-img-top" src="https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-4/javascript.png" alt="">
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 mb-4" data-aos="fade-right" data-aos-duration="1000">
            <div class="card h-100">
                <img class="card-img-top" src="https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-4/mysql.png" alt="">
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 mb-4" data-aos="fade-right" data-aos-duration="1000">
            <div class="card h-100">
                <img class="card-img-top" src="https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-4/python.png" alt="">
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 mb-4" data-aos="fade-right" data-aos-duration="1000">
            <div class="card h-100">
                <img class="card-img-top" src="https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-4/jquery.png" alt="">
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 mb-4" data-aos="fade-right" data-aos-duration="1000">
            <div class="card h-100">
                <img class="card-img-top" src="https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-4/ruby.png" alt="">
            </div>
        </div>
    </div>
</div>
<!-- /.row -->
<!-- Image Showcases -->
<section class="showcase">
    <div class="container-fluid p-0">
        <div class="row no-gutters" data-aos="flip-right" data-aos-duration="2000">

            <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('https://news.elearninginside.com/wp-content/uploads/2017/12/code-1839406_1920.jpg');"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>Bootcamps</h2>
                <p class="lead mb-0">Hier wordt coderen makkelijk en leuk!</p>
            </div>
        </div>
        <div class="row no-gutters" data-aos="flip-left" data-aos-duration="2000">
            <div class="col-lg-6 text-white showcase-img" style="background-image: url('/Content/Images/bg-showcase-2.jpg');"></div>
            <div class="col-lg-6 my-auto showcase-text">
                <h2>Goede basis</h2>
                <p class="lead mb-0">Een goede basis om daarna gelijk daarna gelijk aan de slag te gaan de ADSD opleiding</p>
            </div>
        </div>
        <div class="row no-gutters" data-aos="flip-right" data-aos-duration="2000">
            <div class="col-lg-6 my-auto showcase-text">
                <h2>Makkelijk bootcamps volgen, zelfs op de mobiel!</h2>
                <p class="lead mb-0">Zo als jullie kunnen zien hier rechts zien jullie een baby, zelfs deze baby kan deze bootcamp volgen. Zo makkelijk is het.</p>
            </div>
            <div class="col-lg-6 text-white showcase-img" style="background-image: url('/Content/Images/bg-showcase-3.jpg');"></div>
        </div>
    </div>
</section>

<!-- Testimonials -->
<section class="testimonials text-center bg-light">
    <div class="container">
        <h2 class="mb-5" data-aos="zoom-in-down" data-aos-duration="1000">Onze Bootcamp Trainers</h2>
        <div class="row">
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0" data-aos="zoom-in" data-aos-duration="1000">
                    <img class="img-fluid rounded-circle mb-3" src="~/Content/Images/rudy.jpg" alt="">
                    <h5>Rudy B.</h5>
                    <p class="font-weight-light mb-0">"Laten we samen leren!"</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0" data-aos="zoom-in" data-aos-duration="1000">
                    <img class="img-fluid rounded-circle mb-3" src="~/Content/Images/matthijs.jpg" alt="">
                    <h5>Matthijs de V.</h5>
                    <p class="font-weight-light mb-0">"Hier wordt coderen fun"</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0" data-aos="zoom-in" data-aos-duration="1000">
                    <img class="img-fluid rounded-circle mb-3" src="~/Content/Images/stephan.jpg" alt="">
                    <h5>Stephan H.</h5>
                    <p class="font-weight-light mb-0">"Laten we samen coderen"</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Call to Action -->
<section class="call-to-action text-white text-center">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <h2 class="mb-4">Ready to get started? Sign up now!</h2>
            </div>
            <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                <form>
                    <div class="form-row">
                        <div class="col-12 col-md-9 mb-2 mb-md-0">
                            <input type="email" class="form-control form-control-lg" placeholder="Enter your email...">
                        </div>
                        <div class="col-12 col-md-3">
                            <button type="submit" class="btn btn-block btn-lg btn-primary">Sign up!</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>