﻿@model ProjectBootcamp.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<div style="background-image: url(&quot;../../Content/Images/Background.png&quot;); background-repeat: no-repeat; background-size: cover;">

    <div class="container" style="padding-top: 50px;">

        <h2>@ViewBag.Title.</h2>
        @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
        {
            @Html.AntiForgeryToken()
            <h4>Change Password Form</h4>
            <hr/>
            @Html.ValidationSummary("", new {@class = "text-danger"})
            <div class="form-group">
                @Html.LabelFor(m => m.OldPassword, new {@class = "col-md-2 control-label"})
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.OldPassword, new {@class = "form-control"})
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.NewPassword, new {@class = "col-md-2 control-label"})
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.NewPassword, new {@class = "form-control"})
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new {@class = "col-md-2 control-label"})
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.ConfirmPassword, new {@class = "form-control"})
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Change password" class="btn btn-primary"/>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}